<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

💫 `immutable` => `can't be changed` <br>
💫 `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‘a’, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a = []

In [2]:
# print the value of a

print(a)

[]

In [3]:
# print the type of a
type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [4]:
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [5]:
print(len(languages))

5

Using for loop iterate and print all the elements in the list

In [6]:
for i  in languages:
    print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [7]:
temp  = languages[1]

Print the value of temp and type(temp)

In [8]:
print(temp)
print(type(temp))

Python
<class 'str'>

Append the element 'Java' in the list

In [9]:
languages.append("java")
print(languages)

['R', 'Python', 'SAS', 'Scala', 42, 'java']

Remove the element 42 from the list and print the list

In [10]:
languages.remove(42)

languages

['R', 'Python', 'SAS', 'Scala', 'java']

### Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [11]:
colors = ["Red","Blue","White"]

colors

['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [12]:
colors.append("Black")
colors

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [13]:
colors.insert(1,"Orange")
colors

['Red', 'Orange', 'Blue', 'White', 'Black']

Print the list

In [14]:
colors

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [15]:
colors2 = ["Grey","Sky Blue"]

Add the elements of colors2 to colors using extend function in the list

In [16]:
colors.extend(colors2)
colors

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Print len of colors and its elements

In [17]:
len(colors)

7

Sort the list and print it.

In [18]:
colors.sort()
colors

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [19]:
sent = "Coronavirus Caused Lockdown Around The World"

Use split function to convert the string into a list of words and save it in variable words and print the same

In [20]:
sent.split()

['Coronavirus', 'Caused', 'Lockdown', 'Around', 'The', 'World']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [21]:
sent.lower()

'coronavirus caused lockdown around the world'

Check whether ‘country’ is in the list

In [22]:
sent.find("Caused")

12

Remove the element ‘the’ from the list and print the list.

In [23]:
sent.replace("The","")

'Coronavirus Caused Lockdown Around  World'

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [24]:
# print x4

Convert the list of elements to single string using join function and print it

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [25]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [26]:
len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [27]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [28]:
print(stud_grades_set)

{'A', 'C', 'F', 'B'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [29]:
print(type(stud_grades_set))
print(type(stud_grades))

<class 'set'>
<class 'list'>

Add a new element ‘G’ to stud_grades_set

In [30]:
stud_grades_set.add("G")
stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

Add element 'F' to stud_grades_set. and print it.

In [31]:

stud_grades_set.add("F")
stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [32]:
stud_grades_set.remove("F")
stud_grades_set

{'A', 'B', 'C', 'G'}

Print the elements and the length of stud_grades_set

In [33]:
print(len(stud_grades_set))

4

### Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [34]:
colors = ["red","blue","orange"]

fruits = ["orange","grapes","apples"]

Print color and fruits

In [35]:
fruits

['orange', 'grapes', 'apples']

In [36]:
colors

['red', 'blue', 'orange']

Create colors_set, and fruits_set. (using set() ) and print them

In [37]:
color_set = set(colors)
fruit_set = set(fruits)

In [38]:
color_set

{'blue', 'orange', 'red'}

Find the union of both the sets.

In [39]:
union = color_set.union(fruit_set)

union

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [40]:
intersect = color_set.intersection(fruit_set)

intersect

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [41]:
diff = color_set.difference(fruit_set)
diff

{'blue', 'red'}

## TUPLES

### Create temp = [17, ’Virat’, 50.0]

In [42]:
temp = [17,"Virat",50.0]

Iterate through temp and print all the items in temp

replace first element with 11 in temp

In [43]:
temp[0] = 11
temp

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [44]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [45]:
temp1

(11, 'Virat', 50.0)

replace first element with 17 in temp1

In [47]:
temp1[0] = 17

TypeError: 'tuple' object does not support item assignment

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [48]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [49]:
print(city[0])

Bangalore

Create city2 = (‘Chennai’, 30.01, 74)

In [50]:
city2 = ("Chennai", 30.01, 74)

Create cities which consist of city and city2

In [51]:
cities = city + city2

Print cities

In [52]:
cities

('Bangalore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print type of first element in cities

In [53]:
type(cities[0])

str

print the type of cities

In [54]:
type(cities)

tuple

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [55]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [56]:
d[0]

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [57]:
print(d["actor"])

amir

Print the type of actor

In [58]:
print(type(d["actor"]))

<class 'str'>

Store the value of d[‘list’] in new variable List.

In [59]:
list1 = d["list"]

Print the type of List.

In [60]:
print(type(list1))

<class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [61]:
d1 = {"singer":"krsna","album":"still here","genre":"hip-hop"}

Merge d1 into d.

In [62]:
d1.update(d)

print d

In [63]:
d

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12]}

Print all the keys in d

In [64]:
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list'])

Print all the values in d

In [65]:
print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12]])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [67]:
for key , value in d.items():
    print(f"{key}------>{value}")

actor------>amir
animal------>cat
earth------>2
list------>[23, 32, 12]

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [69]:
#character count in string with help of null dict
# Sample string
sent = "hello world"

# Create an empty dictionary to store character counts
char_count = {}

# Iterate over each character in the string
for char in sent:
    # If the character is already in the dictionary, increment its count
    if char in char_count:
        char_count[char] += 1
    # If the character is not in the dictionary, add it with a count of 1
    else:
        char_count[char] = 1

# Print the dictionary with character counts
for key, value in char_count.items():
    print(f'{key} ----> {value}')

h ----> 1
e ----> 1
l ----> 3
o ----> 2
  ----> 1
w ----> 1
r ----> 1
d ----> 1

In [70]:
char_count

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}